:root {
    --nr_pages: 4;
}

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.sidebyside {
    position: relative;
    background-color: #FEFACB;
    color: #335682;
    width: 100%;
    height: 100%;
    display: inline-block;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.sidebyside:nth-of-type(even) {
   background-color: #9DB7C4;
}
.sidebyside:nth-of-type(3) {
    background-color: #2292A7;
}
.sidebyside:nth-of-type(4) {
    background-color: #3F7FBF;
}

.image {
    border-radius: 15%;
    display: inline;
    width: min(60vh, 60vw);
    height: auto;
    aspect-ratio: 1 / 1;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    font-size: 0;
}

.upanddown {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    display: block;
    white-space: wrap;
    font-size: 1.5rem;
    padding-top: max(100px, 20%);
    padding-inline: 5rem;
}

.center {
	position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: 80%;
}

.upanddown:nth-of-type(1) {
    background-color: #ffffff40;
}

.upanddown:nth-of-type(2) {
    background-color: #ffffff80;
}

nav {
    position: fixed;
    padding: 10px;
    top: 0;
    background-color: #335682;
    color: #FEFACB;
    font-family: Arial;
    width: 100%;
    font-weight: 900;
    font-size: 30px;
    z-index: 99999;
}

nav a {
    text-decoration: none;
	color: inherit;
    transition: background-color 0.5s;
    padding: 10px;

}
nav a:hover {
	background-color: #3F7FBF;
	transition: background-color 0.5s;
