#topBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    background-color: #335682;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    z-index: 1000;
    box-sizing: border-box;
}

#logo {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}


#companyName {
    font-family: 'Crete Round', 'Gelasio', serif;
    color: whitesmoke;
    font-size: larger;
    margin-left: 10px;
}
#containerForButtons {
    display: flex;
    gap: 8px;
    align-items: center;
}

#redirectButton
{
    font-family: "Crete Round", "Gelasio", Times, serif;
    font-size: medium; 
    font-weight: 200; 
    color: #335682; 
    background-color: whitesmoke;
    padding:  10px; 
    border: 5px ;
    border-color: #335682;
    border-radius: 1px;

}

#currentRedirectButton
{
    font-family: "Crete Round", "Gelasio", Times, serif;
    font-size: medium; 
    font-weight: 200; 
    color: #335682; 
    background-color: gray;
    padding:  10px; 
    border: 5px ;
    border-color: #335682;
    border-radius: 1px;
}

#topBarName
{
    font-family: "Crete Round", "Gelasio", Times, serif;
    color: #335682; 
    font-size: larger;
}

#bottomBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #335682;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    z-index: 1000;
    box-sizing: border-box;
}

#containerForContacts {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: auto;
}

#contactButton {
    color: whitesmoke;
    font-family: 'Gelasio', serif;
    font-size: medium;
    font-weight: 200;
    text-decoration: none;
    white-space: nowrap;
}


#body
{
    background-color: #335682;
    padding-bottom: 100px
}
#frontImage
{
    display: block;
    width: 800px;
    height: 400px;
    border: 7px solid;
}
#listElement
{
    padding-left: 20%; padding-top:2%; font-size: medium; letter-spacing: 2px;
}