#topBar{
    position: fixed;
    top: 0; left: 0;
    width: 100%; 
    height: 62px;
    background-color: #335682;
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 0 30px;
    z-index: 1000;
}

#logo{
    width: 40px; 
    height: 40px;
    border-radius: 100px;
}

#companyName
{
    font-family: "Crete Round", "Gelasio", Times, serif; 
    color: whitesmoke; 
    font-size: larger;
    padding-left: 15px;
}
#containerForButtons
{
    display: flex; 
    gap: 8px; 
    margin-left: 25%; 
    align-items: center; 
    height: 100%;
}

#redirectButton
{
    font-family: "Crete Round", "Gelasio", Times, serif;
    font-size: medium; 
    font-weight: 200; 
    color: #335682; 
    background-color: whitesmoke;
    padding:  10px; 
    border: 10px ;
    border-color: black;
    border-radius: 0px;

}

#currentRedirectButton
{
    font-family: "Crete Round", "Gelasio", Times, serif;
    font-size: medium; 
    font-weight: 200; 
    color: #335682; 
    background-color: gray;
    padding:  10px; 
    border: 10px ;
    border-color: black;
    border-radius: 0px;
}

#topBarName
{
    font-family: "Crete Round", "Gelasio", Times, serif;
    color: #335682; 
    font-size: larger;
}

#bottomBar
{
    position: fixed;
    bottom: 0; left: 0;
    width: 100%; 
    height: 70px;
    background-color: #335682;
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 0 30px;
    z-index: 1000;
}

#containerForContacts
{
    display: flex; 
    gap: 8px; 
    margin-left: 20%; 
    align-items: center; 
    height: 100%;
}

#contactButton
{
    color: whitesmoke; 
    font-family: "Gelasio", Times, serif;
    font-size: medium; 
    font-weight: 200; 
    border-radius: 10px; 
    border: 1px solid transparent; 
    background-color: transparent; 
    white-space: nowrap;
}

#body
{
    background-color: #335682;
}
#frontImage
{
    display: block;
    width: 800px;
    height: 400px;
    border: 7px solid;
}
#listElement
{
    padding-left: 20%; padding-top:15%; font-size: small;
}